articlemetaapi==1.26.7
certifi==2021.10.8
charset-normalizer==2.0.7
idna==3.3
legendarium==2.0.6
multidict==5.2.0
parse==1.19.0
parse-type==0.5.2
ply==3.11
PyYAML==6.0
requests==2.26.0
six==1.16.0
tenacity==8.0.1
thriftpy2==0.4.14
tqdm==4.62.3
urllib3==1.26.7
wrapt==1.13.3
-e git+https://github.com/scieloorg/xylose@1.35.8#egg=xylose
yarl==1.7.2
